<?xml version="1.0"?>
<config>
    <modules>
        <Cust_list>
            <version>0.1.1</version>
        </Cust_list>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_main>Cust_list_Block_Adminhtml_Edit_Tab_Main</promo_quote_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>
