<?xml version="1.0"?>
<config>
    <modules>
        <Rohan_RohanModule>
            <version>0.1.0</version>
        </Rohan_RohanModule>
    </modules>
    <frontend>
        <routers>
            <Rohan_RohanModule>
                <use>standard</use>
                <args>
                    <module>Rohan_RohanModule</module>
                    <frontName>rohan-rohanmodule</frontName>
                </args>
            </Rohan_RohanModule>
        </routers>
    </frontend>
    <admin>
	  	<routers>
	    	<Rohan_RohanModule>
	     	<use>admin</use>
		    	<args>
		      		<module>Rohan_RohanModule</module>
		      		<frontName>admin_rohanmodule</frontName>
		     	</args>
	    	</Rohan_RohanModule>
	  	</routers>
	</admin>   
	<global>
		  <helpers>
		    <RohanModule>
		      	<class>Rohan_RohanModule_Helper</class>
		    </RohanModule>
		  </helpers>
	</global> 
	<adminhtml>
		 <menu>
		 	<promo>
		 		<children>
			   <Rohan_RohanModule module="RohanModule">
				     <title>Rohan</title>
				     <sort_order>100</sort_order>
				     <children>
					      <Rohan_RohanModule module="RohanModule">
						        <title>Rohan's Module</title>
						        <sort_order>0</sort_order>
						        <action>admin_rohanmodule/adminhtml_index</action>
					      </Rohan_RohanModule>
				     </children>
			   </Rohan_RohanModule>
			</children>
			</promo>
		 </menu>
	</adminhtml>
</config>
